<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>

    <div class = "container-fluid">
      <h2 class = "mb-5 text-center">Get Price and Total Likes</h2>
      <form id="testForm2">
        <div class = "form-row mb-3">
          <label for = "single-stock" class = "col-md-2">Stock Symbol: </label>
          <input class="form-control col-md-8 mb-3 mb-md-0" type="text" name="stock" id = "single-stock" placeholder="goog" required="">
          <div class = "form-check ml-md-2">
            <input class="form-check-input" id = "like-single-stock" type="checkbox" name="like" value="">
            <label class = "form-check-label" for = "like-single-stock">Like?</label>
          </div>
        </div>

        <div class = "form-row mb-3 justify-content-center">
          <button type="submit" class = "btn btn-primary col-md-2">Get Price!</button>
        </div>
      </form>
      
      <div id = "single-stock-result" class = "row justify-content-center">
        <div id = "single-stock-success">
          Symbol: <span id = "single-stock-symbol"></span> Price: <span id = "single-stock-price"></span>
        </div>
        <div id = "single-stock-error" class = "text-danger"></div>
      </div>
      
      <h2 class = "my-5 text-center">Compare and Get Likes</h2>
      <form id="testForm">
        <div class = "form-row mb-3">
          <label for="stock-1-symbol" class = "col-md-2">Stock 1 Symbol: </label>
          <input id="stock-1-symbol" class="form-control col-md-4" type="text" name="stock" placeholder="goog" required="">
          <label for="stock-2-symbol" class = "col-md-2">Stock 2 Symbol: </label>
          <input id="stock-2-symbol" class="form-control col-md-4" type="text" name="stock" placeholder="msft" required="">
        </div>
        <div class = "form-check mb-3">
          <input id = "compare-likes" class="form-check-input" type="checkbox" name="like" value="true">
          <label for = "compare-likes" class = "form-check-label">Include Likes?</label>
        </div>
        
        <div class = "form-row justify-content-center">
          <button type="submit" class = "btn btn-primary col-md-2">Get Price!</button>
        </div>
      </form>
      <code id="jsonResult"></code>
    </div>
    
    <script>
      $(function() {
        $('#testForm').submit(function(e) {
          $.ajax({
            url: '/api/stock-prices',
            data: $('#testForm').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
        $('#testForm2').submit(function(e) {
          $.ajax({
            url: '/api/stock-prices',
            data: $('#testForm2').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
      });
   </script>
  </body>
</html>
